<%= @game.player_1.name %> vs. <%= @game.player_2.name %> </br>
You attacked <%= @game.player_2.name %>!</br>
<%= @game.player_2.name %> HP: <%= @game.player_2.hp %></br>
<form action="/play">
    <button type="submit" value="ok">ok</button>
</form>
